// general stuff that affects all

$ateneared: #C40610;
$darkateneared: #77090f;

body {
    font-family: "Chivo", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem;
}

// heading


header {
    display: flex;
    color: $ateneared;

    width: 100%;

    #logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 5rem;
        }
    }

    h1 {
        width: 80%;
    }

    aside {
        display: flex;

        margin-left: auto;
        padding-left: 1rem;
        padding-right: 1rem;

        border-left: solid 2px $ateneared;

        .container {
            align-self: center;
            align-items: center;

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 0.5rem;

                img {
                    width: 2rem;

                    filter: invert(11%) sepia(90%) saturate(5633%) hue-rotate(352deg) brightness(85%) contrast(103%);
                }

                :hover {
                    filter: invert(16%) sepia(63%) saturate(3909%) hue-rotate(344deg) brightness(62%) contrast(106%);
                }
            }
        }

    }
}

section {
    display: flex;
    font-weight: bold;

    nav {
        height: 80%;
        width: 20%;

        font-size: 1.5rem;

        div {
            height: 2rem;
            width: 100%;

            margin-top: 10px;
            margin-bottom: 10px;

            padding-top: 2rem;
            padding-bottom: 2rem;

            border-right: solid 2px $ateneared;

            a {
                color: $ateneared;
                text-decoration: none;
            }
        }

        div:hover {
            border-right: solid 2px $darkateneared;

            a {
                color: $darkateneared;
                letter-spacing: 0.2rem;

                transition: letter-spacing 0.2s;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;

    background-color: $ateneared;
    color: white;

    text-align: center;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    h2 {
        font-size: 1rem;
        font-weight: bold;
    }

    h3 {
        font-size: 0.75rem;
        font-weight: normal;

        a {
            color: white;
            text-decoration: none;
        }
    }
}