body {
  font-family: "Chivo", Helvetica, sans-serif;
  margin: 0;
}

main {
  margin-left: 1rem;
  margin-right: 1rem;
}

header {
  display: flex;
  color: #C40610;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 1;
  height: 5rem;
}
header #logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 5rem;
  border-right: solid 2px #C40610;
}
header #logo img {
  height: inherit;
}
header .titling {
  align-items: center;
  text-align: center;
  width: 60%;
  display: flex;
  font-weight: lighter;
  font-size: 3vw;
}
header .titling div {
  margin: auto;
  display: flex;
}
header .titling div div {
  font-weight: 500;
}
header .titling div div div {
  font-weight: bold;
}
header aside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border-left: solid 2px #C40610;
  width: 20%;
}
header aside .redes {
  align-self: center;
  align-items: center;
}
header aside .redes .container {
  display: flex;
}
header aside .redes .container a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
header aside .redes .container a img {
  width: 2rem;
  filter: invert(11%) sepia(90%) saturate(5633%) hue-rotate(352deg) brightness(85%) contrast(103%);
}
header aside .redes .container a :hover {
  filter: invert(16%) sepia(63%) saturate(3909%) hue-rotate(344deg) brightness(62%) contrast(106%);
}

section {
  display: flex;
  font-weight: bold;
}
section nav {
  height: 80%;
  min-width: 20%;
  width: 20%;
  font-size: 1.5rem;
  list-style-type: none;
}
section nav div {
  width: 100%;
}
section nav div li {
  height: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-right: solid 2px #C40610;
}
section nav div li a {
  color: #C40610;
  text-decoration: none;
}
section nav li:hover {
  border-right: solid 2px #77090f;
}
section nav li:hover a {
  color: #77090f;
  letter-spacing: 0.2rem;
  transition: letter-spacing 0.2s;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #C40610;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem;
}
footer h2 {
  font-size: 1rem;
  font-weight: bold;
}
footer h3 {
  font-size: 0.75rem;
  font-weight: normal;
}
footer h3 a {
  color: white;
  text-decoration: none;
}
footer button {
  background-image: url("https://cdn-icons-png.flaticon.com/128/8338/8338708.png");
  background-size: cover;
  border: none;
  width: 1rem;
  height: 1rem;
}

@media (max-aspect-ratio: 1/1) {
  header {
    display: flex;
    color: #C40610;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }
  header .titling {
    display: none;
  }
  header .titling div {
    display: none;
  }
  header .titling div div {
    display: none;
  }
  header a {
    margin: auto;
  }
  header #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  header #logo img {
    width: 5rem;
  }
  header aside {
    display: flex;
    flex-grow: 1;
    border-left: solid 2px #C40610;
  }
  header aside .redes {
    margin: auto;
    display: flex;
  }
  header aside .redes .container {
    align-self: center;
    align-items: center;
  }
  header aside .redes .container a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  header aside .redes .container a img {
    width: 6vw;
    filter: invert(11%) sepia(90%) saturate(5633%) hue-rotate(352deg) brightness(85%) contrast(103%);
  }
  header aside .redes .container a :hover {
    filter: invert(16%) sepia(63%) saturate(3909%) hue-rotate(344deg) brightness(62%) contrast(106%);
  }
  section {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  section nav {
    width: 100%;
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  section nav div {
    display: flex;
  }
  section nav div ul {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  section nav div li {
    color: #C40610;
    text-decoration: none;
    width: 20%;
    border-right: none;
    height: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  section nav div li a {
    text-align: center;
    text-decoration: none;
  }
  section nav div:hover {
    border-right: none;
  }
  section nav div:hover li {
    border-right: none;
  }
  section nav div:hover li a {
    color: #C40610;
    letter-spacing: initial;
    transition: none;
  }
  section nav li:hover {
    border-bottom: solid 2px #77090f;
  }
  section nav li:hover a:hover {
    color: #77090f;
  }
}
#main-container {
  padding-right: 1rem;
  padding-left: 1rem;
  flex-grow: 1;
}
#main-container article {
  font-weight: normal;
}

#article-title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  color: #C40610;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
  border-bottom: 2px solid #C40610;
}
#article-title a {
  text-decoration: none;
  color: #C40610;
}
#article-title a :hover {
  text-decoration: underline;
  color: #77090f;
}

.metadata {
  color: #999999;
  font-weight: normal;
  font-size: 0.8rem;
}
.metadata #article-author {
  font-weight: bold;
}

.comments-area {
  font-weight: normal;
}
.comments-area ol {
  font-weight: normal;
}

a.readmore {
  text-decoration: none;
  color: #C40610;
}

a.readmore:hover {
  text-decoration: underline;
  color: #77090f;
}

#respond {
  display: flex;
  flex-direction: column;
  text-align: center;
}

label {
  font-weight: bold;
  display: inline-block;
  width: 20%;
}

input[type=text], input[type=email], textarea {
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
  border-bottom: solid 2px #C40610;
}

label[for=wp-comment-cookies-consent] {
  font-weight: normal;
}

#notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#notfound div {
  font-size: 5rem;
  font-weight: bold;
  color: #C40610;
}
#notfound p {
  font-weight: normal;
}

.dark-mode {
  background-color: #181818;
  color: white;
}

/*# sourceMappingURL=general.css.map */
